* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  color: #eff1ff;
  background-image: linear-gradient(to right bottom, #2d3fb3, #051261);
}

header,
  height: 100vh;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}
.list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 1rem 2rem;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #eff1ff;
}

.main-name {
  display: flex;
  justify-content: center;

  margin: 25rem 50rem 15rem 10rem;
  font-size: 3rem;
}

ul {
}
